---
import Layout from "../layouts/Layout.astro";
import Project from "../components/Project.astro";
import ProjectDetail from "../components/ProjectDetail.astro";

const startCareer = 2020;
const experience = new Date().getFullYear() - startCareer;
---

<Layout title="MNB Agency">
	<main>
		<!--================ Start Home Banner Area =================-->
		<section class="home_banner_area" id="home">
			<div class="banner_inner">
				<div class="container">
					<div class="row">
						<div class="col-lg-8">
							<div class="banner_content">
								<h1 class="text-uppercase">
									We are MNB Agency
								</h1>
								<h5 class="text-uppercase">
									A group of Website Developers dedicated to
									help you create the perfect Website for your
									brand
								</h5>
								<div class="d-flex align-items-center">
									<a class="primary_btn" href="#contact"
										><span>Get In Touch</span></a
									>
								</div>
							</div>
						</div>
						<div class="col-lg-4">
							<div class="profile_img">
								<img
									class="img-fluid"
									src="img/banner/home-right.png"
									alt=""
								/>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!--================ End Home Banner Area =================-->

		<!--================ Start Services Area =================-->
		<section class="projects_area" id="services">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-lg-8 text-center">
						<div class="main_title">
							<h2>What We Provide</h2>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-sm-3 text-center">
						<img
							src="img/shopify.png"
							alt="Shopify"
							class="img-icon"
						/>
						<h3>Shopify Websites</h3>
						<p>
							We create professional and custom themed Shopify
							websites, adjusted to your likings, that will help
							you to showcase your products in a unique way and
							drive more sales.
						</p>
						<a href="#contact"
							><h4 class="pricesss">
								Starting From <b>1499 LE</b>
							</h4></a
						>
					</div>
					<div class="col-sm-3 text-center">
						<img
							src="img/wordpress.png"
							alt="Wordpress"
							class="img-icon"
						/>
						<h3>WordPress Websites</h3>
						<p>
							We develops WordPress websites with a focus on
							flexibility and performance. We ensure your website
							is easy to manage, while also costing much less on
							the long run.
						</p>
						<a href="#contact"
							><h4 class="pricesss">
								Starting From <b>2499 LE</b>
							</h4></a
						>
					</div>
					<div class="col-sm-3 text-center">
						<img
							src="img/custom.png"
							alt="Custom"
							class="img-icon"
						/>
						<h3>Custom Websites</h3>
						<p>
							We build custom websites from scratch, tailored to
							your specific business needs and requirements,
							ensuring a unique online presence. Nothing is
							impossible for us.
						</p>
						<a href="#contact"
							><h4 class="pricesss">Contact Us</h4></a
						>
					</div>
					<div class="col-sm-3 text-center">
						<img
							src="img/services/s4.png"
							alt="Custom"
							class="img-icon"
						/>
						<h3>24/7 Service</h3>
						<p>
							We provide 24/7 support to ensure your website is
							always running smoothly. Our team is always ready to
							address any issues or updates you need.
						</p>
						<a href="#contact"
							><h4 class="pricesss"><b>FREE</b></h4></a
						>
					</div>
				</div>
			</div>
		</section>
		<!--================ End Services Area =================-->

		<!--================ Start Projects Area =================-->
		<section class="projects_area" id="projects">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-lg-8 text-center">
						<div class="main_title">
							<h2>Projects</h2>
						</div>
					</div>
				</div>

				<div class="row">
					<Project
						title="Faragski"
						img="/img/portfolio/faragski.png"
						about="Free website to stream Movies and TV Shows. Created from A-Z by us."
						stacks={["ViteJS", "ReactJS", "HTML", "CSS"]}
						website="https://faragski.com"
						github=""
					/>

					<Project
						title="Golden Group"
						img="/img/portfolio/goldengroup.png"
						about="A local brand focused on selling professional clothes. We created their website using Shopify and adjusted the theme to their liking."
						stacks={["Shopify", "JavaScript", "CSS"]}
						website="https://goldengroup.shop"
						github=""
					/>

					<Project
						title="Lodge"
						img="/img/portfolio/lodge.png"
						about="A local brand focused on selling hoodies and pants. We created their website using WordPress and Woocommerce. We adjusted the theme to their liking and added a welcome page. By using WordPress they reduced their costs by so much on the long run as it as a one time payment only."
						stacks={[
							"WordPress",
							"WooCommerce",
							"HTML",
							"CSS",
							"JavaScript",
						]}
						website="https://lodge-eg.com"
						github=""
					/>

					<Project
						title="Flacko"
						img="/img/portfolio/flacko.png"
						about="A local brand focused on selling tshirts, hoodies, and jackets. We created their website using WordPress and Woocommerce. We adjusted the theme to their liking and added a welcome page. By using WordPress they reduced their costs by so much on the long run as it as a one time payment only."
						stacks={[
							"WordPress",
							"WooCommerce",
							"HTML",
							"CSS",
							"JavaScript",
						]}
						website="https://flacko.xyz"
						github=""
					/>

					<Project
						title="Synth"
						img="/img/portfolio/synth.png"
						about="A local brand focused on selling trendy clothes. We migrated their website from Shopify and cloned it using WordPress and Woocommerce. By using WordPress they reduced their costs by so much on the long run as it as a one time payment only."
						stacks={[
							"WordPress",
							"WooCommerce",
							"HTML",
							"JavaScript",
							"CSS",
						]}
						website="https://synthclothingbrand.com"
						github=""
					/>

					<Project
						title="Kamili"
						img="/img/portfolio/kamili.png"
						about="A local brand that sell fashionista clothes. We created their website using WordPress and Woocommerce. We adjusted the theme to their liking and added a welcome page. By using WordPress they reduced their costs by so much on the long run as it as a one time payment only."
						stacks={[
							"WordPress",
							"WooCommerce",
							"HTML",
							"JavaScript",
							"CSS",
						]}
						website="https://kamili.online"
						github=""
					/>

					<Project
						title="Vidnobi"
						img="/img/portfolio/vidnobi.png"
						about="An on-demand video production agency. We help them create SaaS and convert Leads into Clients."
						stacks={["HTML", "JavaScript", "CSS"]}
						website="https://vidnobi.io"
						github=""
					/>
				</div>
			</div>
		</section>
		<!--================ End Projects Area =================-->

		<!--================ Start About Us Area =================-->
		<section class="about_area" id="about">
			<div class="container">
				<div class="row justify-content-start">
					<div class="col-lg-5">
						<div class="about_img">
							<img src="img/about-us.png" alt="" />
						</div>
					</div>

					<div class="offset-lg-1 col-lg-6">
						<div class="main_title text-left">
							<h2>
								let’s introduce<br />
								our team
							</h2>

							<div class="row">
								<div class="col-lg-6">
									<h3>Yassin Bedier</h3>
									<p>
										I am a second year Computer Science
										student at ESLSCA University.
										<br />
										I have {experience}+ years of experience
										being a programmer. I have worked on
										variety of projects, website, apps, and
										games. I have experience in many
										languages like: HTML/CSS, C#,
										JavaScript, TypeScript, Python, Dart, C,
										GoLang, and more.
									</p>
								</div>

								<div class="col-lg-6">
									<h3>Mohamed Chikhani</h3>
									<p>
										I am a second year Software Engineering
										student at Lancaster University Leipzig.
										<br />
										I love working on websites and I have experience
										for 2+ years in many languages like: Python,
										HTML, CSS, C++, JavaScript, and TypeScript.
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</main>
	<!--================ End About Us Area =================-->

	<!--================ Start Contact Area =================-->
	<section class="contact-area" id="contact">
		<div class="container">
			<div class="row justify-content-center align-items-center">
				<div class="col-12 col-sm-12 col-md-8">
					<div class="main_title">
						<h2>CONTACT US</h2>
					</div>

					<div class="card p-4 shadow border-0">
						<form
							id="gform"
							method="POST"
							action="https://script.google.com/macros/s/AKfycbz7fIM14hLgAf2W1cEG-7VaWEEoeUh8EQe21SFtHcbwDczrnv42igzRGgH7SlJAQg/exec"
						>
							<div class="form-group">
								<label for="name">Name:</label>
								<input
									id="form-name"
									class="form-control col-12"
									placeholder="Enter Your Name"
									type="text"
									name="Name"
									required
								/>
							</div>

							<div class="form-group">
								<label for="email">Email:</label>
								<input
									id="form-email"
									class="form-control col-12"
									placeholder="Enter Your Email"
									type="email"
									name="Email"
									required
								/>
							</div>

							<div class="form-group">
								<label for="number">Phone Number:</label>
								<input
									id="form-number"
									class="form-control col-12"
									placeholder="Enter Your Number"
									type="tel"
									name="Phone"
									required
								/>
							</div>

							<div class="form-group">
								<label for="message">Message:</label>
								<textarea
									id="form-message"
									class="form-control col-12"
									placeholder="Enter Your Message"
									rows="8"
									name="Message"
									required></textarea>
							</div>

							<button
								class="primary_btn float-right mt-1 btn-block"
								type="submit"
							>
								<span>Send Message</span>
							</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--================ End Contact Area =================-->

	<ProjectDetail />

	<script
		is:inline
		type="text/javascript"
		src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js"
	></script>

	<script type="text/javascript">
		(function () {
			emailjs.init("iT0QUvPLLgJIQEVJs");
		})();
	</script>
</Layout>
